.link{
    width: 100%;
    padding: 8px 0 8px 12px;
    background-color: dimgrey;
    text-decoration: none;
    color: #fff;
}
.link:not(:last-child){
    margin-bottom: 8px;
}
.link:hover{
    background-color: #93a9ee;
}
.active{
    background-color: #3e66f6;
}
.active:hover{
    background-color: #3e66f6;
}
