*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-warp{
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.app-warp-content{
  width: 86%;
  background-color: aqua;
}